.signup-container {
	background-image: url('/images/img-signup-bkg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
}

.signin-container {
	background-image: url('/images/img-signin-bkg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
}
